@import url(../node_modules/normalize.css/normalize.css);
.socialIcons {
  margin-left: 15px;
  font-size: 30px; }
  .socialIcons__link {
    margin: 5px 10px;
    color: #023b35;
    text-decoration: none; }
    .socialIcons__link:hover {
      color: rgba(0, 0, 0, 0.9); }

body {
  background: url("../assets/img/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.footer {
  background: #023b35;
  background: linear-gradient(90deg, rgba(2, 59, 53, 0.75) 0%, rgba(41, 116, 108, 0.8) 35%, rgba(84, 179, 169, 0.8) 65%, rgba(128, 244, 232, 0.75) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; }
  .footer__text {
    margin: 0;
    padding: 12px;
    color: white;
    font-size: 20px;
    font-family: "Source Sans Pro", sans-serif; }

@media only screen and (max-width: 660px) {
  .footer__text {
    font-size: 16px; }
  .socialIcons {
    margin-left: 0;
    font-size: 20px; } }

@media only screen and (max-width: 520px) {
  .footer {
    display: none; } }

.error {
  color: red;
  margin: 0;
  font-size: 18px; }

.header {
  position: absolute;
  top: 150px;
  right: 300px;
  font-family: "Source Sans Pro", sans-serif;
  color: white; }
  .header__title {
    color: white;
    text-align: center;
    font-size: 76px;
    letter-spacing: 3px;
    margin: 0;
    margin-bottom: 40px; }
  .header__description {
    margin: 0;
    color: #57b8ae;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    letter-spacing: 1px;
    line-height: 1.45; }
    .header__description--center {
      display: block;
      text-align: center; }

@media only screen and (max-width: 1450px) {
  .header {
    right: 180px; }
    .header__title {
      font-size: 68px; }
    .header__description {
      font-size: 28px; } }

@media only screen and (max-width: 1150px) {
  .header {
    right: 110px; }
    .header__title {
      font-size: 53px; }
    .header__description {
      font-size: 24px; } }

@media only screen and (max-width: 970px) {
  .header {
    position: static;
    margin-top: 50px;
    text-align: center; } }

@media only screen and (max-width: 520px) {
  .header {
    margin-top: 40px; }
    .header__title {
      font-size: 46px;
      margin-bottom: 25px; }
    .header__description {
      font-size: 20px; } }

.form_container {
  font-family: "Source Sans Pro", sans-serif;
  background: #80f4e8;
  background: linear-gradient(145deg, rgba(128, 244, 232, 0.6) 1%, rgba(87, 184, 174, 0.65) 30%, rgba(40, 115, 107, 0.65) 70%, rgba(2, 59, 53, 0.7) 100%);
  box-shadow: 12px 7px 15px rgba(0, 0, 0, 0.3), 8px 4px 20px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  position: absolute;
  left: 10%;
  top: 15%;
  min-width: 340px;
  min-height: 390px;
  text-align: center; }

.form {
  margin: 60px 0; }
  .form__input {
    border: 0;
    border-radius: 5px;
    display: block;
    margin: 0 auto 30px auto;
    padding: 10px; }
    .form__input:focus {
      outline: #57b8ae solid 2px;
      outline-offset: -2px; }
  .form__submit {
    background-color: #57b8ae;
    border: 0;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 12px 30px;
    color: white;
    letter-spacing: 1px;
    cursor: pointer; }
    .form__submit:hover {
      background-color: #28736b; }
    .form__submit:focus {
      outline: none !important; }

.sign {
  margin: 0;
  margin-bottom: 25px;
  color: white;
  font-size: 20px; }
  .sign__link {
    color: #80f4e8;
    text-decoration: none; }
    .sign__link:hover {
      color: #57b8ae; }

@media only screen and (max-width: 970px) {
  .form_container {
    margin: 120px auto 0 auto;
    left: 0;
    right: 0;
    max-width: 320px;
    min-width: 270px;
    min-height: 300px;
    text-align: center; }
  .form {
    margin: 35px 0 20px; }
    .form__submit {
      margin-bottom: 5px; }
  .sign {
    margin-bottom: 15px; } }

@media only screen and (max-width: 660px) {
  .form_container {
    margin: 130px auto 0 auto; }
  .form {
    margin: 25px 0 15px; }
  .sign {
    margin-bottom: 13px; } }

.menu {
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  background-color: #023b35;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 25px; }
  .menu__list {
    display: flex;
    min-width: 175px;
    justify-content: space-between;
    list-style-type: none;
    padding: 0; }
  .menu__item {
    font-size: 20px; }
    .menu__item a {
      color: white;
      text-decoration: none; }
      .menu__item a:hover {
        color: #57b8ae; }
      .menu__item a.active {
        cursor: default;
        pointer-events: none;
        border-bottom: 3px #57b8ae solid; }
        .menu__item a.active:hover {
          color: inherit; }
  .menu__logout {
    background-color: #57b8ae;
    font-size: 18px;
    border: 0;
    border-radius: 20px;
    padding: 12px 30px;
    color: white;
    letter-spacing: 1px;
    cursor: pointer; }
    .menu__logout:hover {
      background-color: #80f4e8; }
    .menu__logout:focus {
      outline: none !important; }

.logo {
  font-size: 26px;
  margin: 20px 0; }

.minerals {
  background-color: #57b8ae;
  position: absolute;
  right: 0;
  min-width: 100px;
  padding: 20px 20px;
  border-bottom-left-radius: 20px;
  color: black;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700; }

.mineral {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 35px; }
  .mineral__icon {
    width: 22px; }
    .mineral__icon--margin {
      margin-left: 7px; }

body {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/img/background.png"); }

.table {
  margin: 0 auto;
  max-width: 750px;
  min-height: 90vh;
  background-color: #28736b;
  opacity: 0.8;
  font-family: "Source Sans Pro", sans-serif;
  border-right: 1px #80f4e8 solid;
  border-left: 1px #80f4e8 solid;
  color: white; }
  .table__title {
    text-align: center;
    margin: 0;
    padding: 20px;
    color: white;
    font-size: 32px;
    letter-spacing: 1px;
    border-bottom: 4px #80f4e8 dotted; }

.buildings_container {
  margin: 30px 70px;
  font-family: "Roboto", sans-serif; }

.building {
  padding: 35px 30px;
  position: relative;
  display: flex;
  justify-content: space-between;
  justify-self: center;
  align-items: center; }
  .building__title {
    font-size: 20px;
    font-weight: 700;
    min-width: 110px; }
  .building__cost {
    min-width: 125px; }
  .building__button {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 10px 25px;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    background-color: lightgray;
    color: black;
    text-decoration: none; }
    .building__button--not-available {
      position: relative;
      cursor: default;
      color: red;
      background-color: darkgray; }
      .building__button--not-available:hover::after {
        content: "You don't have enought minerals";
        position: absolute;
        right: -90px;
        top: -10px;
        font-size: 14px;
        max-width: 80px; }
    .building__button:focus {
      outline: none; }
  .building__error {
    position: absolute;
    display: block;
    font-size: 20px;
    font-family: "Source Sans Pro", sans-serif;
    color: red;
    top: 85px;
    left: 25%; }

.about {
  margin: 50px 80px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px; }
  .about__element {
    margin-bottom: 75px; }
  .about__title {
    margin: 0px; }
