.header{
  position: absolute;
  top: 150px;
  right: 300px;
  font-family: $sansProFont;
  color: white;
  
  &__title{
    color: white;
    text-align: center;
    font-size: 76px;
    letter-spacing: 3px;
    margin: 0;
    margin-bottom: 40px;
  }
  &__description{
    margin: 0;
    color: $basicColor;
    font-family: $robotoFont;
    font-size: 32px;
    letter-spacing: 1px;
    line-height: 1.45;
    &--center{
      display: block;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 1450px){
  .header{
    right: 180px;
    &__title{
      font-size: 68px;
    }
    &__description{
      font-size: 28px;
    }
  }
}

@media only screen and (max-width: 1150px){
  .header{
    right: 110px;
    &__title{
      font-size: 53px;
    }
    &__description{
      font-size: 24px;
    }
  }
}

@media only screen and (max-width: 970px){
  .header{
    position: static;
    margin-top: 50px;
    text-align: center;
  }
}

@media only screen and (max-width: 520px){
  .header{
    margin-top: 40px;
    &__title{
      font-size: 46px;
      margin-bottom: 25px;
    }
    &__description{
      font-size: 20px;
    }
  }
}
