.header{
  position: absolute;
  top: 150px;
  right: 300px;
  font-family: $sansProFont;
  color: white;

  &__title{
    color: white;
    text-align: center;
    font-size: 76px;
    letter-spacing: 3px;
    margin: 0;
    margin-bottom: 40px;
  }
  &__description{
    margin: 0;
    color: $basicColor;
    font-family: $robotoFont;
    font-size: 32px;
    letter-spacing: 1px;
    line-height: 1.45;
    &--center{
      display: block;
      text-align: center;
    }
  }
}
