$lightenBasicColor: rgba(128,244,232,1);
$basicColor: rgba(87,184,174,1);
$darkenBasicColor: rgba(40,115,107,1);
$evenDarkenBasicColor: rgba(2,59,53,0.1);

$sansProFont: 'Source Sans Pro', sans-serif;
$robotoFont: 'Roboto', sans-serif;
