body{
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/background.png");
}

.townhall{
  margin: 0 auto;
  max-width: 700px;
  min-height: 90vh;
  background-color: $darkenBasicColor;
  opacity: 0.8;
  font-family: $sansProFont;
  border-right: 1px $lightenBasicColor solid;
  border-left: 1px $lightenBasicColor solid;
  color: white;


  &__title{
    text-align: center;
    margin: 0;
    padding: 20px;
    color: white;
    font-size: 32px;
    letter-spacing: 1px;
    border-bottom: 4px $lightenBasicColor dotted;
  }
}

.buildings_container{
  margin: 20px 40px;
  font-family: $robotoFont;
}

.building{


  &__title{
    font-size: 18px;
    font-weight: 700;
  }
  &__costs{

  }
  &__cost{
    
  }
}