.buildings_container{
  margin: 30px 70px;
  font-family: $robotoFont;
}

.building{
  padding: 35px 30px;
  position: relative;
  display: flex;
  justify-content: space-between;
  justify-self: center;
  align-items: center;

  &__title{
    font-size: 20px;
    font-weight: 700;
    min-width: 110px;
  }
  &__cost{
    min-width: 125px;
  }
  &__button{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 10px 25px;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    background-color: lightgray;
    color: black;
    text-decoration: none;
    
    &--not-available{
      position: relative;
      cursor: default;
      color: red;
      background-color: darkgray;

      &:hover::after{
        content: "You don't have enought minerals";
        position: absolute;
        right: -90px;
        top: -10px;
        font-size: 14px;
        max-width: 80px;
      }
    }
    &:focus{
      outline: none;
    }  
  }
  &__error{
    position: absolute;
    display: block;
    font-size: 20px;
    font-family: $sansProFont;
    color: red;
    top: 85px;
    left: 25%;
  }
}