  <footer class="footer">
      <p class="footer__text">All rights reserved &copy 2020 - Designed by Bartosz Płaniak</p>
      <div class="socialIcons">
        <a class="socialIcons__link" target="_blank" href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
        <a class="socialIcons__link" target="_blank" href="https://www.twitter.com/"><i class="fab fa-twitter-square"></i></a>
        <a class="socialIcons__link" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
      </div>
  </footer>
  
  <script src="index.js" charset="utf-8"></script>
</body>
